[2018-08-31 16:53] andygotz opened #1 "panosc web site requirements"
This issue is for gathering the requirements for the PaNOSC project website.

Please add your needs, ideas and proposals for the PaNOSC website as comments to this issue.

[2018-09-03 06:52] andygotz commented on #1
The main role of the PaNOSC official website will be to communicate the goals, progress and results to the partners, observers and scientific world. The website will contain largely static information. Internal communication will be done via other channels like slack, email and github. Some documents will be stored on the website but most of them will be on github or another document sharing platf

[2018-09-03 07:24] zjttoefs commented on #1
Another example: https://brightness.esss.se/

[2018-09-03 07:24] fangohr commented on #1
I am happy with the logo, although running this past professionals to polish is probably a good idea (create vector graphics/high res versions).

[2018-09-03 07:36] fangohr commented on #1
For hosting of webpages:

GitHub-pages offers to host webpages that are based on static html (https://pages.github.com).

Examples are:
- http://opendreamkit.org
- https://fangohr.github.io

Github.io can also render source to html automatically when changes are pushed to that repository. It uses the Jekyll webpage generator (it uses a particular flavour known as github-pages):

Tutorial (there ar

[2018-09-03 07:42] fangohr commented on #1
Web page requirements:

- persistent beyond project duration
- ability to change quickly, i.e. participants should be able to edit a file / edit a page through web interface to update news items, reports from events etc - without having to pass this via a single point of processing (and failure).
- from discussion this morning: mostly static html, with links to data services (which are hosted else

[2018-09-03 12:49] jamhall commented on #1
@fangohr  - For Jekyll, I've heard good things about https://forestry.io
It's a nice web interface for managing Jekyll sites backed by GIT. Easier for editors to use than the standard Git/Jekyll workflow.

[2018-09-10 10:25] NicolettaCarboni commented on #1
The one attached is a very first draft of the possible website's structure. I'd kindly ask the IT developers to think in particular about the content that shall be included in the "services" and "developments" (if the latter is needed) sections. Such pages would be meant to include a description of the service(s) developed and the links redirecting to data services hosted outside the PaNOSC websit

[2018-09-28 09:48] JBodera opened #2 "Github folder/file structure"
Hi,

I am starting to prepare the basic bits to manage and coordinate the project, and I would like to propose the following structure to store and manage the documentation in GitHub:

![image](https://user-images.githubusercontent.com/42926461/46201104-a67ffa00-c313-11e8-8bfc-2a5680b2f487.png)

My idea would be that each WP leader is responsible for the structure  of his/her area, however many wi

[2018-10-02 06:23] andygotz commented on #2
Thanks Jordi for the proposal. Here are some comments from my side:

- are the numbers going to be part of the directory names?
- what is meant by Plans. Maybe replace this with Planning
- do we need an Issues directory? The issues could be managed on github.
- I am not sure we need the pre-project directory. I would move the agreements to a single directory Agreement in Project.
- rename Submitte

[2018-10-02 06:53] JBodera commented on #2
Hi Andy,

1.  The numbers are to show the order, but are not needed.
2. By Plans I mean any document related to planning that we do. An example would be a Gantt chart with all the deliverables, but could be anything else related to Planning (e.g. we do not have a detailed plan for any of the work packages or if we need to build a plan to deal with an exceptional circumstance)
3. True. we can use t

[2018-10-25 08:41] JBodera opened #4 "PaNOSC Executive Board & Project Management committees"
Dear all,

We still have not finished our Consortium Agreement (our legal team is working on it), however as per our Proposal and the draft that we shared previously **we plan to have an Executive Committee* with one member from each Consortium partner** (ESRF, ILL, XFEL.EU, ESS, ELI, CERIC-ERIC and EGI).

**We need to sort out who is going to fulfill this role for each partner**, ideally he/she w

[2018-10-25 08:45] JBodera opened #5 "Complete stakeholders list"
Dear all,

As the project develops more people will be joining in and it will be difficult to keep track of everyone, therefore I have created a document with a list of stakeholders on:

https://github.com/panosc-eu/panosc/wiki/PaNOSC-Stakeholders

**Can you please fill in the document with your contact details?** Ideally we will have for each person that somehow participates in PaNOSC their name,

[2018-10-25 08:50] JBodera opened #6 "Kick-off meeting planning"
Dear all,

This issue is about the need to sort out all the planning for our Kick-off meeting, currently scheduled to take place 15th January in Grenoble.

As of now, I can think of the following areas pending confirmation:

1. Agenda
    1.a One or Two day event?
    1.b We need a draft agenda
2. List of attendees per partner
3. Organiser bookings
    3.a Meeting rooms / areas
    3.b Meals / res

[2018-11-02 08:08] #2 closed, assigned to nobody

[2018-11-02 08:48] JBodera commented on #6
Hi,

Regarding the agenda I propose a two day event:
1. Executive Committee members will only be required the first day for a signing ceremony and looking at what is PaNOSC and where we are
2. The rest of us involved in the day to day running of PaNOSC will review where we are (risks, work packages, etc.) in order to try to add more detail to the Project and create a detailed plan.

So far, I have

[2018-11-02 09:10] petraaulin commented on #6
are we also inviting the staff that will work on the project?

[2018-11-02 09:19] JBodera commented on #6
Hi Petra,

I would suggest that to this meeting we invite:
1.- Executive Committee Members (1 per partner, so 7 in total)
2.- The usual attendees of the video conference calls
3.- If a parner wants to invite further people that's OK and it will come out from their budget allocation for travel

Anyone that is and will be heavily involved in the project and can and want to contribute to this initial

[2018-11-02 09:24] petraaulin commented on #4
From ESS this will be Jonathan Taylor, head of DMSC

[2018-11-06 10:36] floriangliksohn commented on #4
I will fill that role for ELI for the time being.

[2018-11-06 10:41] JBodera commented on #4
Hi @floriangliksohn ,

That's good, however I would like to point out that we would like to have two separate bodies:
1st - An Executive Board that meets once/twice a year to review progress and obtain updates
2nd - A Project Management Committee that runs and coordinates the project on a daily basis and that reports to the Executive Committee

Therefore I was thinking that members of the 1st body

[2018-11-06 10:43] floriangliksohn commented on #4
Thanks Jordi. I will take your comment into account and consult internally. Back to you shortly.

[2018-11-12 08:41] floriangliksohn commented on #4
Project Management Committee: Florian Gliksohn
Executive Board: Allen Weeks (ELI-DC Director General)

[2018-11-12 10:52] JBodera commented on #1
I propose to close down this issue for now.
It could be reopened at any time (or a new issue created to further discuss this).

Please reply here by 22/11/2019 if you think this issue should remain open.

[2018-11-12 10:58] JBodera opened #9 "Observer status"
This was raised by A. Gotz (ESRF) during the conference call of 12/11/2018.

How should we deal with observers? Who are our observers? What are they entitled to? How do we engage with them?

Initial thoughts are:

1. They are invited to annual face to face meetings, but at their expense
2. We could ask the ones that issued letters of support for PaNOSC if they want to be observers
3. How many obse

[2018-11-12 11:00] JBodera opened #10 "Data storage needs?"
STFC (3rd linked party to EGI.eu) asked about the data storage needs for PaNOSC during 2019.

JF Perrin suggested 1 PetaByte for 2019 during the conference call 12/11/2018.

Please let us know if that sounds reasonable for you or not.

[2018-11-19 08:30] fangohr commented on #4
Sandor Brockhauser is the contact for EuXFEL.

[2018-11-19 12:58] JBodera commented on #4
OK,

So far we have ( the latest version is available on https://github.com/panosc-eu/panosc/wiki/PaNOSC-Stakeholders )

| Partner | Project Management Committee Member  | Executive Board Member |
| ------- | ------------------------------------------- | -------------------------------  |
| ESRF | Andy Gotz | Rudolf Dimper |
| ILL | _Jean-Francois Perrin ?_ | Mark Johnson |
| EuXFEL | Hans Fangohr

[2018-11-23 15:40] RDimper commented on #10
Not sure what we will deposit on this storage space. In any case I think that 1PB is more than enough. We will not have enormous amounts of open data yet in 2019. Even for testing data analysis software the space is more than sufficient.

[2018-11-23 15:40] #10 closed, assigned to nobody

[2018-11-23 15:45] RDimper commented on #6
I think that the Kick-off meeting is an important opportunity to make the project known. I therefore suggest that we also invite the Observers, representatives from the EC, the coordinators of the other INFRAEOSC04 projects and, as suggested, staff who will work on the project.

[2018-11-23 15:51] RDimper commented on #9
My feeling is that we should aim for only one "official" observer per legal entity. This observer should be nominated by the Management of the entity to make it an official mandate. All PaNs should be invited to nominate an Observer. We should establish a specific mailing list for this group. Their role would be foremost to be the official contact person for their lab if we wish to have feedback o

[2018-11-26 06:00] andygotz commented on #6
I fully agree with you Rudolf about the list of invitees. I would add PaNOSC users too. We are doing it for them so it is necessary to have them on board from the beginning. We need to decide who invites whom now.

I have updated the agenda following the suggestions made during the last video meeting:

https://indico.esrf.fr/indico/event/19/

Please add your comments and suggestions on the agenda

[2018-11-26 07:56] fangohr commented on #6
I like the split into a 'public' day and an internal working day on day 2.

For day 2, I think it would be useful to have break out sessions where key people for individual work packages can get together, get to know each other (and the respective skills, and the interests and requirements from each partner), and also plan how to divide work within the work package most effectively. Essentially, a

[2018-11-26 20:53] fangohr commented on #9
I'd agree to limit the numbers by default as suggested by @RDimper, at least per legal entity to keep the group size manageable: for a board providing input and feedback, it is not necessarily getting more effective because there are more people involved. If we like expert input and collaboration beyond one observer per legal entity, we could always invite additional people on such occasions.

[2018-11-30 09:03] GeorgeElettra opened #14 "We exchanged the names of D. Roccella and J. Kolar."
We exchanged the names of D. Roccella and J. Kolar. It should appear as:

| Partner | Project Management Committee Member  | Executive Committee Member |
| ------- | ------------------------------------------- | -------------------------------  |
| ESRF | Andy Gotz | Rudolf Dimper |
| ILL | _Jean-Francois Perrin ?_ |  |
| EuXFEL | Hans Fangohr  |  Sandor Brokhauser |
| ELI-DC | Florian Gliksohn |

[2018-11-30 09:19] GeorgeElettra commented on #14
I moved it as a comment/reply to an existing Issue.

[2018-11-30 09:19] #14 closed, assigned to nobody

[2018-11-30 09:20] GeorgeElettra commented on #4
Thank you Jordi! Please update the table by exchanging the names of Kolar and Roccella. It should appear as following!

| Partner | Project Management Committee Member  | Executive Board Member |
| ------- | ------------------------------------------- | -------------------------------  |
| ESRF | Andy Gotz | Rudolf Dimper |
| ILL | _Jean-Francois Perrin ?_ |  |
| EuXFEL | Hans Fangohr  |  Sandor B

[2018-11-30 10:42] JBodera commented on #4
Thanks @GeorgeElettra, this has been noted.

[2018-12-03 13:24] JBodera commented on #4
Just to let you know that we plan to send letters to the Director General (or equivalent) of each partner institute to ensure that staff members nominated to PMC and EB have a formal appointment letter from their institute.

[2018-12-03 13:53] JBodera opened #15 "Work Package 5 Leader leaving"
Hi,

This issue is to highlight the fact that **@CFGrote is leaving**, therefore he won't be leading WP5 to its successful conclusion. While I wish the best of luck for Carsten in the future we need to be ready for this change in the project.

1. Will XFEL.eu appoint a person to replace Carsten who will be able to lead WP5?
2. If yes, can XFEL.eu appoint this person before the kick-off meeting?
2.

[2018-12-03 14:28] CFGrote commented on #15
Hi Jordi, thanks for bringing this up. As far as I know, XFEL is currently looking into various options and candidates to take over from me. It is assumed that this candidate will not show up before summer 2019. Therefore, we should nominate an interim WP leader. My understanding from conversation with @andygotz is that @srio (Manuel Sanchez-Rio) agreed to take this hat until he leaves into his sa

[2018-12-03 16:33] JBodera opened #16 "Draft Consortium Agreement"
A copy of the Draft Consortium agreement from our Legal officer has been shared with the WP leaders of PaNOSC.

We would like to obtain all feedback before 21st December 2018, so we can quickly proceed to integrate it, approve it and sign it.

[2018-12-04 17:32] thomasholmrod commented on #9
@RDimper would it possible to get list of those who have been invited so far?

[2018-12-05 12:35] thomasholmrod commented on #9
Information from @RDimper

So far we have the following nominations as Observers in PaNOSC:
•	DLS - Mark Heron
•	ALBA - Vincente Rey
•	SOLARIS - Miroslaw Burzynski
•	SOLEIL - Brigitte Gagey
•	HZB - Ants Finke
•	MAX-IV - Darren Spruce
•	PSI - Gerd Mann
and we are still missing replies for: DESY, LLB, FRM-II, ISIS, HZDR

[2018-12-05 15:10] #1 closed, assigned to nobody

[2018-12-05 15:58] andygotz opened #17 "Press release about kickoff"
CERIC to prepare a press release for the starting of PaNOSC. The draft to be circulated to all partners for feedback. After that each partner to publish the press release via their communications channels. CERIC will handle the EC channels.

[2018-12-06 07:08] andygotz opened #18 "PaNOSC on Cordis"
PaNOSC needs to be declared on the Cordis site: https://cordis.europa.eu/home_en.html

This is part of the Outreach activities so could CERIC look after this please?

Thanks in advance

[2018-12-06 08:50] darioceric commented on #18
Dear All,
we will take care of this. As soon as possibile i will let you know.
Thank you.
Dario

[2018-12-06 09:20] NicolettaCarboni commented on #18
I called the CORDIS help desk to retrieve some info. The project information on CORDIS is automatically taken from the EC's internal systems (i.e. the participant portal). They told me that, since the project has just started, it may take some days before such info is updated. We'll then be able to use all services offered by CORDIS for the promotion of project's activities and results.

[2018-12-07 07:19] JBodera opened #19 "Document storing in GitHub"
During the conference call 05/12/2018 https://github.com/panosc-eu/panosc/blob/master/Work%20Packages/WP1%20Management/Meetings/Project%20Management%20Committee/2018-12-05%20Project%20Management%20Committee/2018-12-05%20PMC%20Summary.txt we discussed about how best to store documents.

The main points were:

1. GitHub is good for code, however binary documents don't diff well. **Do we want a diffe

[2018-12-07 07:29] fangohr commented on #19
Agree on all accounts:

- GitHub generally good
- no problem in my view to include small binary documents [all in one place is convenient]
- need a separate place for confidential documents; a repository would make sense to use the same technology and structure
- google docs is effective for multi-author work; moving a final version of the document into the github repository seems like a good prac

[2018-12-07 08:22] jamhall commented on #19
For Atlassian products ([Confluence](https://www.atlassian.com/software/confluence), [JIRA](https://www.atlassian.com/software/jira) etc.), we could apply for an Open Source License (self-hosted or cloud....ideally cloud): [https://www.atlassian.com/software/views/open-source-license-request](https://www.atlassian.com/software/views/open-source-license-request)

Confluence is excellent for writing

[2018-12-07 11:56] andygotz opened #20 "Write DMP for PaNOSC"
We need to write a Data Management Plan for PaNOSC. We can get help from

1. DMPonline: https://dmponline.dcc.ac.uk/

2. other DMP plans on zenodo for example

[2018-12-11 09:43] NicolettaCarboni commented on #17
The first draft of the press release about PanOSC start is available at this link for your comments
https://github.com/panosc-eu/panosc/blob/master/Work%20Packages/WP9%20Outreach%20and%20communication/PaNOSC_startDec2018_v1.docx

[2018-12-11 10:30] petraaulin commented on #4
Hey @JBodera - We are a bit confused about the weekly meeting and the Project Management Committee. 1. Is the weekly meeting for the WP-leaders or for the PMC? 2. Is therea clear definition of the role of the PMC? Where can I find it?

[2018-12-11 11:09] NicolettaCarboni commented on #18
Probably the info on the participant portal (i.e. abstract and activity) should be updated to have it then on Cordis

[2018-12-12 05:53] andygotz opened #21 "Answer EOSC-Hub questions"
The following questions were posed by the EOSC-Hub to the EOSC-Hub Strategy Board:

QUESTIONS for the EOSC-hub Strategy Board

The EOSC-hub project is a seedbed for the EOSC Portal that is a gateway to EOSC services and resources (https://www.eosc-portal.eu/). Being a major instrument in developing the Portal, the EOSC-hub project should add value by diversifying its features and offering. Hence,

[2018-12-12 12:53] thomasholmrod commented on #9
So having a look at the list of Supporting Letters @RDimper has covered the European photon and neutron sources. Besides those we have the following legal entities:

- JPARC, SNS, CSCS, CINECA, JSC. I suggest @andygotz as coordinator invite them using @RDimper's letter of template. I have already told CSCS and JSC about the dates and that they will receive an invitation. I would put HZDR and IBS i

[2018-12-13 09:08] petraaulin commented on #6
where can I find the list of registered participants for the kick-off?

[2018-12-13 09:24] JBodera commented on #4
Hi @petraaulin

Most of the PMC members are also WP leaders, so we will continue for now with the PMC meeting having the WP leaders invited. If we need to take a decision on how to proceed, then only PMC members would get a vote. If we realise that this structure doesn't work then we will change it. For now the meetings seem useful to me, so I would continue with them.

The draft Consortium Agreem

[2018-12-13 09:28] JBodera commented on #6
@RDimper or @andygotz , can you please help Petra with her query about the registered attendees?
Thanks,

[2018-12-14 09:03] JBodera opened #22 "Mailing list"
Hi,

The current panosc mailing list is becoming very crowded, with frequent non-targeted emails.

To reduce the amount of emails we all receive that do not concern us we propose to create the following mailing lists:

1. info@panosc.eu --> Used for external communication. Anyone can join. Responsibility for this mailing list falls under WP9 Communication
2. management@panosc.eu --> Used for commu

[2018-12-14 09:40] andygotz commented on #22
We need at least one more:

6. observers@panosc.eu --> all PaNOSC observers

General discussions as have been happening on panosc@esrf.fr should in the future happen on github issues and slack.

I have created the mailing lists with our domain name provider and we will populating them asap. One minor issue with the mailing lists is I am not sure how to limit posts only to members (if we want that)

[2018-12-14 12:50] JBodera commented on #20
Should I use the https://dmponline.dcc.ac.uk/template_export/1612436782.pdf template (from the European Commission)?

It has the following points:
1. Data Summary
2. FAIR data
    2.1. Making data findable
    2.2. Making data openly accessible
    2.3. Making data interoperable
    2.4. Increase data reuse
3. Allocation of resources
4. Data security
5. Ethical aspects
6. Other

[2018-12-14 14:23] andygotz commented on #20
DMPOnline is a tool for generating templates. The official guidelines for H2020 projects are described here:

http://ec.europa.eu/research/participants/docs/h2020-funding-guide/cross-cutting-issues/open-access-data-management/data-management_en.htm

We need to first read the guidelines before filling in the template. The DMP is a living document i.e. we will update it at regular intervals througho

[2018-12-17 13:08] NicolettaCarboni commented on #18
PaNOSC is now on CORDIS: https://cordis.europa.eu/project/rcn/219175_en.html

[2018-12-17 14:23] andygotz commented on #18
Good news! Thanks for following this up. I will close this issue.

[2018-12-17 14:23] #18 closed, assigned to nobody

[2018-12-17 16:17] JBodera opened #23 "Financial Control for PaNOSC"
I think we need to start thinking how often and with how much detail we want to oversee our expenditures for PaNOSC.

My idea would be:
1. Each Work Package Leader is responsible for expenditure within their workpackage, while keeping informed the Project Management Committee
2. Each partner is at the same time responsible for their own expenses and linked 3rd parties
3. Of course this will requir

[2018-12-18 05:58] andygotz commented on #16
EGI, ELI-DC, and ESS agree with the draft.

EuXFEL want to reword the open source licence part to include close source.

[2018-12-19 14:52] JBodera commented on #5
Closed as per PMC 19/12/2018 decision

[2018-12-19 14:52] #5 closed, assigned to nobody

[2018-12-19 14:53] JBodera commented on #15
Closed as per PMC 19/12/2018. @srio will be interim wp leader until June. XFEL should have found someone by that point. If that looks unlikely we will reopen the issue

[2018-12-19 14:53] #15 closed, assigned to nobody

[2018-12-19 14:54] JBodera commented on #17
Closed as per PMC 19/12/2018.
Press release went out.

[2018-12-19 14:54] #17 closed, assigned to darioceric

[2018-12-19 14:54] JBodera commented on #19
Closed as per PMC 19/12/2018
GitHub as main repository. If we need editing by multiple team members at the same time we will use Google Docs. If at some point this is not convenient we will open a new issue.

[2018-12-19 14:54] #19 closed, assigned to nobody

[2018-12-19 14:55] JBodera commented on #20
Closed as per PMC 19/12/2018
This is for a deliverable due May 2019. ESRF started working on it.

[2018-12-19 15:12] JBodera opened #24 "Executive Board - Agenda for kick-off meeting"
Dear all,

Please find below a proposal for the Executive Board agenda during PaNOSC's kick-off meeting:

1. **Quick Introduction by the Project Coordinator of the PaNOSC Governance**
  a. Executive Board competences as per draft Consortium Agreement

2. **Election of the Chair (term duration proposed of 2 years renewable)**

3. **Approval of proposed reporting to Executive Board from Project Mana

[2018-12-19 17:47] NicolettaCarboni commented on #23
I've forwarded the file to our Chief Administration Officer, who accepts the document as it is and has no further comments

[2018-12-20 13:35] floriangliksohn commented on #23
I've also forwarded and checked the file with your Financial Officer. We're both happy with your suggestions and have no further comments.

[2019-01-08 10:47] andygotz commented on #21
Here is a first attempt at answering these questions. Comments and feedback welcome.

**Q1. What should the Portal offer, beyond what exists now in the Portal and elsewhere, to attract various users?**

The main purpose of the portal should be to promote Open Science and the services required to do this. Currently the portal is a collection of disparate services. It is not clear what is behind eac

[2019-01-08 12:05] floriangliksohn commented on #21
Hi Andy,

I'm happy with the responses you're suggesting and don't have any immediate suggestions of corrections or additions.

I'm only wondering whether Q4 is referring to services to business users as your answer tends to suggest. The question is referring to "B2B processes” between public entities and my guess is that they are actually referring to the processes in the "value chain" between se

[2019-01-08 12:05] thomasholmrod commented on #21
Hi Andy,

I have recently looked at the services provided by EOSC-hub and I fully agree with your answers. I am not exactly impressed. Some small comments:

Q1. It could be added that more information about who and how many use the services would be helpful (although I fear that it may discourage users rather than convincing them). Entry barrier should be reduced, testing out a service as a guest

[2019-01-08 12:15] thomasholmrod commented on #21
Related to Q4 I had the same immediate reaction as @floriangliksohn. An easy fix would be to say RIs (incl. computing centers or e-inrastructures). E.g. speak to the business developers at e.g. CSCS to find out how EOSC-hub can help them provide their services to e.g. ESRF.

[2019-01-08 12:57] andygotz commented on #21
OK thanks for the feedback concerning Q4. I have integrated your comments.

[2019-01-09 11:59] petraaulin commented on #23
our external relations office have had a look and say this financial report will be fine. No further comments

[2019-01-17 13:00] JBodera commented on #22
During the kick-off it was suggested to create a new mailing list with the EU Funding experts at each partner site. This seems like a good idea, so what about EUexperts@panosc.eu ?

@andygotz Did we act on the suggestion above? Otherwise we could close this issue, as the management of mailing lists is no longer an issue.

[2019-01-22 08:49] JBodera opened #25 "Risk Management"
Dear all,

During the kick-off meeting and also during the Executive Board we talked about Risk Management.

I propose to  quickly decide how we want to proceed and start working on it.

[2019-01-23 16:03] JBodera commented on #4
As per PMC 23/01/2019 I close this issue

[2019-01-23 16:03] #4 closed, assigned to RDimper

[2019-01-23 16:04] JBodera commented on #6
As per PMC 23/01/2019 I close this issue

[2019-01-23 16:04] #6 closed, assigned to JBodera

[2019-01-23 16:06] JBodera commented on #21
As per PMC 23/01/2019 I close this issue

[2019-01-23 16:06] #21 closed, assigned to andygotz

[2019-01-23 16:08] JBodera commented on #23
Closed as per PMC 23/01/2019

[2019-01-23 16:08] #23 closed, assigned to JBodera

[2019-01-23 16:08] JBodera commented on #24
As per PMC 23/01/2019 I close this issue

[2019-01-23 16:08] #24 closed, assigned to andygotz

[2019-01-30 06:49] andygotz commented on #16
Final draft sent out on the 20/1/2019. SO far the following parties have provided feedback:

1. ESRF - OK
2. ILL - OK
3. ELI - OK
4. EuXFEL - OK
5. CERIC-ERIC - OK

We are missing feedback from ESS and EGI. We need to get their confirmation before we can send the document out for signing.

[2019-02-01 07:38] JBodera opened #26 "Software licensing"
During the PMC 29/01/2019 and within WP4 @jamhall  discussed what licensing to use for all the different software that will be produced.

Ideally the software licenses must be harmonised, so we do not have problems with incompatible licenses
@fangohr asked what the proposal said about licenses

It was also said that Jupyter uses MIT-BSD license

[2019-02-01 07:38] JBodera commented on #26
Just for reference, the proposal says in section 2.2.a.3 Open Source Software the following:
All software developed in the course of the project will be under version control in an open source repository (such as GitHub) and licensed under a license compliant with the Open Source Initiative (OSI, www.opensource.org). The software will thus be Findable and Accessible and because it also will be dev

[2019-02-07 13:54] darioceric opened #27 "1st Annual Meeting"
CERIC-ERIC would be happy to host the 1st annual meeting in Trieste, if the rest of the partnership agrees.
We proposed the end of October or the beginning of November 2019.
I would like to ask you to add your comments, suggestions and availability to this issue.

[2019-02-11 09:34] darioceric commented on #27
Jean-François (ILL), Andy and Rudolf (ESRF) agree with the CERIC-ERIC proposal: week 44 of 2019, from 28 October to 1 November

[2019-02-13 13:19] JBodera commented on #27
The Chair of the Executive Board will share with the EB the proposed date and ask feedback ahead of the next PMC meeting (scheduled for 20/02/2019).

Ornela said that in week 44 Jana is not available. Rudolf cannot week 45, so we will try to book week 43.

[2019-02-18 12:33] NicolettaCarboni opened #28 "PaNOSC logo"
The website's supplier has provided some proposals for the PaNOSC logo.

[Here](https://github.com/panosc-eu/panosc/blob/master/Work%20Packages/WP9%20Outreach%20and%20communication/PaNOSC%20logo/Panosc_Logo_Proposals_forselection.pdf) is the file where you can see all proposed options.

Please send your first three preferences, by indicating the numbers of your favourite logo's proposals (you'll f

[2019-02-18 12:44] floriangliksohn commented on #28
No secret ballot? Alright, here's my vote:
- 4
- 2
- 1

I'll share with my PR department to get their vote as well.

[2019-02-18 13:00] tizianaferrari70 commented on #28
N1: 1
N2: 6
N3: 4

[2019-02-18 13:08] JBodera commented on #28
n1: 2
n2: 6
n3: 4

[2019-02-18 13:27] RDimper commented on #28
1. *3*
 2. *4*
 3. *2*

[2019-02-19 08:21] JBodera opened #29 "Deliverable D10.1 POPD Requirement"
Hi,

Just so we have this overdue "special deliverable" to submit:

![image](https://user-images.githubusercontent.com/42926461/53000016-9a621980-3427-11e9-9e57-2fc0b3764181.png)

Has anyone ever submitted a deliverable like this one that we can use as template/guidance?
Thanks,
Jordi

[2019-02-19 09:16] perrin1024 commented on #28
#1. 1
#2. 6

[2019-02-20 10:48] NicolettaCarboni commented on #28
Dear all, I'd suggest to keep the poll open until Friday at the latest. Please let me know whether I should add someone else to the participants' list in this issue

[2019-02-22 15:17] andygotz commented on #28
* 1. 4
* 2. 2

[2019-02-22 22:03] fangohr commented on #28
1. 6
2. 2
3. 4

[2019-02-26 09:47] JBodera opened #31 "Report on kick-off"
Just to remind Jordi that he must do some work on a report from the kick-off meeting. This draft then would be circulated and completed by all partners.

[2019-02-27 14:33] JBodera commented on #16
ESRF's Legal Officer has shared the final version of the PaNOSC Consortium Agreement today.

[2019-02-27 21:54] andygotz commented on #28
None of the logos has enough votes. We need to define a minimum number of votes for a logo to be considered well chosen. I propose at least 30% of votes should agree on a logo for it to be adopted. Currently logos 1 and 4 have 2 of 8 votes i.e. 25% - not enough to say we have a winner.
We must invite all WP leaders to vote.

[2019-02-28 08:53] NicolettaCarboni commented on #28
Please find at this link the results of the first poll, in which 6 out of 10 people voted for the 1st option:  https://github.com/panosc-eu/panosc/blob/master/Work%20Packages/WP9%20Outreach%20and%20communication/PaNOSC%20logo/LogoSelection_poll.xlsx
The supplier could provide a last proposal starting recalling the previous logo, for which some feedback from you is needed. On this regard, may I rem

[2019-02-28 08:56] JBodera commented on #26
During the PMC 27/02/2019 it was agreed that:
- Existing software will continue with its license
- New software will use an open source license (e.g. MIT)

It is encouraged that WP leaders inform the Project Management Committee of the software license chosen for new developments.

[2019-02-28 08:56] #26 closed, assigned to andygotz

[2019-02-28 09:08] darioceric commented on #27
During the PMC meeting (27/02/2019) we proposed to have the meeting on Monday 21 and Tuesday 22 October 2019. Rudolf suggest to have the other two following days (23 and 24 October 2019) for the meetings related to individual WPs.
CERIC-ERIC will try to confirm as soon as possible if the meetings will be in Elettra or in Trieste.

[2019-03-05 08:31] JBodera commented on #29
Feedback about this deliverable:

our question: this D10.1 is a standard provision for dealing properly with personal data according to the GDPR and applicable national legislation.
For more info I refer to http://ec.europa.eu/research/participants/data/ref/h2020/grants_manual/hi/ethics/h2020_hi_ethics-data-protection_en.pdf

D10.1 is not really a “deliverable”  in the sense that the project is re

[2019-03-08 05:34] andygotz opened #34 "Questions to FairsFair"
This issue gathers the question we propose to ask the FairsFair community. FairsFair is an h2020 project to help communities adopt the FAIR principles (see https://www.esfri.eu/sites/default/files/Infrid%20Dillo.pdf).

Following questions have been proposed by the PaNOSC members (mostly WP2):

1. How to make FAIR data policies GDPR compliant?
2. What assistance can FairsFair provide in reviewing d

[2019-03-08 06:21] perrin1024 commented on #34
We could probably also extend the scope to WP3, they mentioned in their slides "Support the “FAIRification” of repositories by extending repositories interfaces to comply with FAIR practical guidelines"
7. How to work practically with them in this area? what are their schedule?

They also mentioned metrics and interoperability in the slides referenced by Andy
8. What does it means for us? Are they

[2019-03-08 07:23] JBodera commented on #34
9. Is there going to be a FAIR score?

I mean, we may or may not reach certification level, but it would be good to have some sort of scoring, so we can all compare ourselves (and maybe compete for the highest score).

[2019-03-11 21:01] andygotz commented on #34
10. What is the difference between FAIRsFAIR and GO-FAIR? Who should we work with?

[2019-03-15 06:36] andygotz commented on #34
@Jon-Taylor did you get any answers to our questions at the FAIRsFAIR kickoff?

[2019-03-19 13:45] NicolettaCarboni opened #35 "PaNOSC website development"
Please have a look at the first draft of the website layout in the PaNOSC Google drive at this link:
https://drive.google.com/drive/folders/1R2vivDAoT2D8Euk4H8eTCVhPVdxz5-vH

INFO:
- At the bottom of the homepage, partners' logos will be displayed differently from how you see them now, and will be rather placed in one single line, which may be scrolled horizontally (see example at the bottom of th

[2019-03-20 10:11] jamhall commented on #35
Hi @NicolettaCarboni.

The website looks great! I particular like the services page and the services logos. Will it also be responsive (for mobiles)?  Is that the chosen logo or are we still going through the selection process?

[2019-03-20 13:34] JBodera commented on #16
Quick update on the signature of the CA: 2 partners have yet to provide their signature pages: ILL and ELI.

[2019-03-20 14:27] andygotz commented on #16
Only one now. ILL signature has been received. ELI has signed but we have not received it.

We are almost there!

[2019-03-20 15:35] NicolettaCarboni commented on #35
@jamhall glad that you like it.
Yes, the website will be responsive.
As for the logo, this is not the one selected yet. There will be a final poll hopefully sent within today or tomorrow.

[2019-03-22 12:28] NicolettaCarboni commented on #35
@jamhall since you've asked about the logo and nobody from ILL voted yet, please send us your preference by filling in the questionnaire at this link > https://docs.google.com/forms/d/e/1FAIpQLSc1uoweCtrcpS-hY24r8pkNGve9OWEzvbDP2PEZP3NO1jjeeQ/viewform?usp=sf_link

[2019-03-27 06:01] andygotz opened #36 "Executive Board - items for next meeting"
Collect items for the next EB meeting

[2019-03-27 06:02] andygotz commented on #20
We need to follow this up. Can you put the draft on the google drive please so we can comment on it. Thanks!

[2019-04-03 07:20] Jon-Taylor commented on #34
**Feedback from the FairsFair Kickoff.**
I’ve itemised this in alignment with the questions that we collated. I presented the questions during the cluster presentations, at that point there were no clear answers, so what is below is a collation of information from throughout the meeting, and the parallel sessions i attended.

**1. How to make FAIR data policies GDPR compliant? **
Many people menti

[2019-04-11 05:49] JBodera commented on #34
As per PMC meeting 10/04/2019 this is now closed

[2019-04-11 05:49] #34 closed, assigned to nobody

[2019-04-11 05:49] JBodera commented on #16
With all signatures gathered this is now completed.

[2019-04-11 05:49] #16 closed, assigned to andygotz

[2019-04-15 12:34] darioceric commented on #27
Following the PMC meeting of Wednesday 10 April 2019, please find here the actual situation:
- the meeting will be hosted in Trieste, Savoia Excelsior Palace, from 14.00 to 18.00 of Monday 21 October and from 09.00 to 18.00 of Tuesday 22 October 2019.
- the two following days (23 and 24 October 2019) we will host the WPs meeting in Elettra.
- we forecast 100 people will attend the meetings
Questio

[2019-04-24 10:23] NicolettaCarboni commented on #35
Here the 1st beta version of the PaNOSC website:
http://panosc.clientspace.it/

[2019-04-24 10:25] NicolettaCarboni commented on #28
All PaNOSC logo formats are available at this link: https://github.com/panosc-eu/panosc/tree/master/Work%20Packages/WP9%20Outreach%20and%20communication/PaNOSC%20logo

[2019-05-08 15:12] NicolettaCarboni commented on #35
Please find at this link the files with the draft content for the PaNOSC website: https://drive.google.com/drive/folders/1Vux1AeN5enhxo-OkbXi85UUrLjntGVoi
The sections "About" and "Data Policy" have been already uploaded in the beta version of the website at http://panosc.clientspace.it/

In the case you'd like to make further changes, please ensure they are highlighted, so that I can find them ea

[2019-05-09 16:54] NicolettaCarboni commented on #35
Here at this link >> https://drive.google.com/open?id=1QdzpkZjrNt8bAxs6sQG0xZU6ajWAEpO52QkrJL4etnc << is the first draft of the brief descriptions for the different service categories that we will offer in the frame of PaNOSC, to be published in the project website.
As you will see, the texts are very brief, since this page should only give a brief overview of what we'll provide, inviting the user

[2019-05-14 03:24] andygotz commented on #35
I have made some improvements to the text about data services in a copy of the document here:

https://docs.google.com/document/d/1QsDLBETaJu7UOKSkIoSUrDLLBTI5hi925sBqcNNHDUM/edit?usp=sharing

I agree it is good to keep the text short and only add stuff in the dedicated pages.

[2019-05-22 08:12] andygotz opened #41 "Update KPIs"
The Key Performance Indicators (KPIs) in the proposal need to be updated to take into account any changes at the partner sites and to include new more fine grained ones. The goal is to have KPIs which allow us to measure the real impact of FAIR and PaNOSC.

[2019-05-22 08:49] #28 closed, assigned to andygotz, fangohr, perrin1024, floriangliksohn, JBodera, petraaulin, RDimper, darioceric, tizianaferrari70

[2019-06-04 05:56] JBodera commented on #20
Submitted

[2019-06-04 05:56] #20 closed, assigned to nobody

[2019-06-04 05:57] JBodera commented on #31
closed, submitted as part of mid-year report deliverable

[2019-06-04 05:57] #31 closed, assigned to JBodera

[2019-06-04 05:59] JBodera commented on #35
website is up. I close this issue. If further work is required in the website a new issue can be created.

[2019-06-04 05:59] #35 closed, assigned to nobody

[2019-06-18 08:54] JBodera commented on #29
This has now been submitted

[2019-06-18 08:54] #29 closed, assigned to nobody

[2019-06-19 14:02] JBodera opened #43 "Internal Milestones / deliverables"
Dear all,

As per PMC 19/06/2019 please collaborate with suggested Milestones/ deliverables in your work package.

We do not want to have these every other week, but rather fill in the gaps when milestones/deliverables in a work package are separated for over 6 months. As a rule of a thumb if a WP has nothing to show/deliver over six months ideally we would add an internal deliverable/milestone to

[2019-06-19 15:01] andygotz commented on #41
I propose the following KPIs for WP2:

- number of instruments on which Data Policy is implemented
- number of techniques / instruments for which metadata are defined
- number of metadata parameters defined
- number of raw data DOIs
- number of user defined DOIs
- number of downloads
- number of citations of DOIs
- number of datasets
- volume of data archived
- number of DOIs for processed data

S

[2019-06-21 08:03] fangohr commented on #41
Some more suggestions:
- fraction of facilities offering a JupyterHub or Remote Desktop service for analysis
- users making use of this service (either through unique IDs, or counting each time they login)
- number of data analysis tools available through remote services (Jupyter / VISA). [Could also use 'number of distinct data analysis procedures' - but that's harder to decide: at what point doe

[2019-06-21 08:04] fangohr commented on #41
We could also consider 'qualitative indicators': these can be short reports describing a situation (not quantitative). For example, one could interview users of our services and summarise what they think of the provision. It is a lot more work for everybody - need to question if it is worth it.

[2019-06-24 07:31] JBodera commented on #41
Please do update the list on: https://docs.google.com/spreadsheets/d/1iivsvBrix4v6lmC2U3sOC6YEXFeY0JzXHTM9QQQZwiY/edit#gid=2060225314

[2019-07-17 11:54] andygotz commented on #43
I have checked the Tasks and Milestones and propose as a first iteration the following intermediate Milestones:

* **WP2**
   1. MS2.1a - draft of new data policy framework (M12)
   2. MS2.2a - plan of how the DP will be adopted at all sites (M18)
   3. MS2.4a - draft of guidelines for DP best practices (M12)
   4. MS2.5a - DMP design (M24)
   5. MS2.6a - DP adoption status report (M24)
   6. MS2.

[2019-07-18 14:52] JBodera commented on #27
Quick update: As per PMC meetings, the Annual Conference will be 4th and 5th November in Trieste.
The document -CONFIDENTIAL- should be used to fill in potential invitees.

[2019-08-25 20:21] JunCEEE opened #44 "CERIC link on panosc website"
Hi,

This is Juncheng. I have just started working on WP5 at European XFEL from July. I just happened to find the logo link of CERIC on https://www.panosc.eu/ does not work. The correct link might be https://www.ceric-eric.eu/ instead of http://www.ceric-eric.com/?

Best,
Juncheng

[2019-08-27 06:14] JBodera opened #45 "Financial Control report"
This issue is to remind all partners that they must provide a financial report as agreed by our Executive Committee and Project Management Committee.

The information to provide is available on https://github.com/panosc-eu/panosc/tree/master/Work%20Packages/WP1%20Management/KPIs/Financial%20Reports with a file for each partner to fill in the period 01/12/2018 to 31/08/2019 (first nine months of ex

[2019-08-28 12:32] thomasholmrod commented on #41
We will discuss this for WP8 at our next weekly meeting

[2019-08-28 12:34] thomasholmrod commented on #43
We will discuss internal milestones for WP8 at our next weekly meeting

[2019-09-06 19:58] thomasholmrod commented on #41
A number of KPIs have been added for WP8

[2019-09-06 20:21] thomasholmrod commented on #43
**WP8**

Tentative, should be reviewed and updated twice a year at the WP meetings

1. VC in preparation for annual meeting completed (M10)
2. Solution for Jupyter integration found [T8.2] (M13)
3. Budget clarification for hardware [T8.1] (M14)
4. Mid-year VC completed (M18)
5. MS8.4 moved forward to end of 2020 [T8.2] (M25)
6. Wish-list from partners defined [T8.3] (M13)
7. Workshop scheduled [T8

[2019-09-16 15:35] JBodera opened #46 "Specify concrete actions/deliverables of cooperation with ExPaNDS"
Following the establishment of a MoU between ExPaNDS and PaNOSC, we have a few areas identified for cooperation/communication, however these are not very specific.

The idea is that Jordi will engage with ExPaNDS management, so we can define concrete areas for cooperation/objectives to pass on to WP leaders of each project for final validation and implementation.

[2019-09-19 15:53] NicolettaCarboni commented on #43
Proposal of WP9 internal milestones:
*Report on Y1 outreach activities published (M13)
*All website sections completed (M12)
*First use cases (2-3) published on the website (M12)
*List of user meetings, where PaNOSC/ExPaNDS goals/achievements will be presented, defined (M12)

[2019-09-19 16:11] NicolettaCarboni commented on #44
The issue has been solved and can be closed

[2019-09-25 11:40] JBodera commented on #43
I have created the document on https://github.com/panosc-eu/panosc/blob/master/Work%20Packages/WP1%20Management/Plans/PaNOSC%20Gantt%20with%20internal%20milestones.xlsx which contains a tab called Gantt (last tab) showing the Internal Milestones alongside the deliverables.

EDIT: The word document in the same folder: https://github.com/panosc-eu/panosc/blob/master/Work%20Packages/WP1%20Management/

[2019-10-07 11:49] JBodera commented on #43
Tobias sent this through 06/10/2019:

WP3 Data Catalogue Services

Delete these placeholders:
	* IMS3.2a	specification of API (M12)
	* IMS3.4a	demonstrator of federated search (M20)
	* IMS3.5a	federated search implemented 50% (M32)
	* IMS3.6a	HDF5 meeting (M12)

I could not see our "official" milestones in the documents. They are:
	M12		MS3.1 Survey of APIS and Roadmap to EOSC
	M12 		MS3.2 Ontolog

[2019-10-14 12:14] #44 closed, assigned to nobody

[2019-10-23 11:36] JBodera commented on #46
A meeting took place 23/10/2019 between Kunt, Patrick and Jordi.
While further information is needed from ExPaNDS and PaNOSC's work package leaders, we could envisage the following actions taking place in the future:
1.  PaNOSC and ExPaNDS work together within their WP2 (Data Policy) in order to establish FAIR best practices and practical guide about what to consider for FAIRness and how could it

[2019-11-14 07:51] JBodera commented on #27
Annual meeting took place. So this is closed

[2019-11-14 07:51] #27 closed, assigned to RDimper

[2019-11-14 07:52] JBodera commented on #36
This is not active

[2019-11-14 07:52] #36 closed, assigned to nobody

[2019-11-14 07:52] JBodera commented on #45
The report was done and shared with EB and PMC

[2019-11-14 07:52] #45 closed, assigned to nobody

[2019-12-13 14:31] JBodera commented on #41
As of 13/12/2019 KPIs obtained from all WPs (except WP3 and WP7), with few information missing for the other KPIs.

It may be a good idea to put the KPIs in the PaNOSC website, so everyone can see how are we doing and what are our targets.

[2019-12-16 09:36] JBodera commented on #25
Tiziana Ferrari provided me with a EOSC-hub document that talks among many subjects of risk management and suggested to follow the same model.

The risk management file on https://github.com/panosc-eu/panosc/blob/master/Work%20Packages/WP1%20Management/Risks/PaNOSC%20Risk%20Register.xlsx has been updated with suggested Risk Owners and the same risks.

This is a matter to discuss, so risk informati

[2020-01-07 16:42] JBodera commented on #46
On 07/01/2020 Jordi Bodera and Sophie Servan (ExPaNDS) met via video conference to follow-up the cooperation between the two projects.

Regarding the six points listed above:
1. PaNOSC and ExPaNDS work together within their WP2 (Data Policy) -> Ongoing
2. organise Jupyter Notebook workshops/conferences we should plan these events together -> This should be in calendars (either a common one or two)

[2020-01-30 07:31] JBodera opened #52 "Review Meeting details"
This issue is to clarify details for the review meeting to take place around month 18 of project execution.

1st detail to clarify with our project officer is : **What is the exact date for the Review Meeting?**
If no exact date can be provided, at least a confirmed range of dates would be helpful, the smaller the range the better.

*Unrelated to this issue, Andy could ask our Project Officer whet

[2020-01-30 07:43] JBodera opened #53 "Joint Annual meeting PaNOSC/ExPaNDS"
It has been agreed that a joint PaNOSC/ExPaNDS annual meeting is desirable and a possible range of dates suggested: 19/10/2020 to 01/11/2020.

As per [PMC 29/01/2019](https://github.com/panosc-eu/panosc/tree/master/Work%20Packages/WP1%20Management/Meetings/Project%20Management%20Committee):
* The expected duration of the event is 4 days
* It would be good if the event could start with lunch, rathe

[2020-02-06 09:20] JBodera commented on #46
On 04/02/2020 Sophie, Patrick, Andy and Jordi met via VC.

Main points discussed:
* PaNOSC-ExPaNDS joint annual meeting : more information to be requested to Florian to clarify capacity, number of meeting rooms available, exact dates, etc. with a possible VC with Florian to follow.
* Calendar : ExPaNDS has a Google Calendar, so this is now fine
* Joint actions : follow-up here in this document htt

[2020-02-26 16:52] JBodera opened #56 "ExPaNDS Technical Coordination Board - someone required"
**ExPaNDS Technical Coordination Board (TCB)** assists the Technical Coordinator in defining the technical strategy and in deciding on specific technical issues. It is responsible for the technical overview of the project. It is composed by the TC and technical experts appointed by the partners (one per beneficiary).

The TCB is also responsible for the technology tracking in the areas of interest

[2020-03-03 15:32] JBodera commented on #46
On 03/03/2020, Sophie, Andy and Jordi met via VC.
Main points discussed:

- Annual joint meeting: PaNOSC supports not changing the date, even if this means some people could not attend. This topic will be further discussed on PaNOSC PMC and a conf. call the following day

- INFRAEOSC-03 : The ESRF has not yet received feedback from any ExPaNDS partner, so it is unclear whether any of them would li

[2020-03-04 15:40] JBodera commented on #56
As per 04/03/2020 PMC https://github.com/panosc-eu/panosc/blob/master/Work%20Packages/WP1%20Management/Meetings/Project%20Management%20Committee/2020-03-14-PMC/2020-03-04-PMC_Summary.md it has been agreed that **Jamie Hall will be the PaNOSC representative to ExPaNDS Technical Coordination Board**.

[2020-03-04 15:40] #56 closed, assigned to JBodera

[2020-03-24 07:21] JBodera commented on #25
Please have a look at the readme file on:
https://github.com/panosc-eu/panosc/tree/master/Work%20Packages/WP1%20Management/Risks
instead

[2020-04-07 15:09] JBodera commented on #53
This is a summary of the meetings / conversations that have been taking place so far regarding the joint annual meeting:

# 5th call (06.04.2020)
Thanks for today's meeting, here is the summarised record:
- 'Talk 1' would be even more interesting as a 1-hour panel discussion on EOSC with Jan Hrusak, Rupert Lück and 2-3 others panelists.

- Which leaves time for only 1 other talk then for 30/45 min

[2020-04-07 15:37] JBodera commented on #46
On 07/04/2020 Sophie and Jordi met through VC. Andy and Patrick were excused.
The main points discussed were:

1. **Annual joint meeting** :  this is confirmed for November, 9th noon to 11th noon.  Meetings have been taking place in order to organise it, and Sophie shared with Jordi some notes, which can now be accessed by everyone in the [issue 53](https://github.com/panosc-eu/panosc/issues/53)
2

[2020-04-08 05:01] andygotz commented on #46
Some quick comments on the latest update:

- WP2 - good participation by multiple members of both projects in the data policy (not only Brian and Andy)
- WP3 - PaNOSC and ExPaNDS are working together on the common api. Implementation should take place for each site now.
- WP4 - there is good attendance of WP4 meetings for both PaNOSC and ExPaNDS with a good sharing of information. The idea of incl

[2020-04-08 08:28] andygotz commented on #52
The exact date of the virtual (remote participation only) is fixed for the 16 June (whole day).

We will probably use zoom as the platform.

Some ideas for a schedule to start the discussion:

1. Welcome - PO + PC
2. PaNOSC overview - Andy (20')
3. Project management review - Jordi (30')
4. Data Policy - Andy (20')
5. Common search API definition + demo - 40'
6. Data Services progress and demo - 9

[2020-04-08 08:57] JBodera commented on #52
Did you mistype? 17th June is Wednesday (JF Perrin not available) and we did agree on Tuesday16th June.
I will reference this issue from the meeting agendas that are focused on the Review Meeting.

[2020-04-08 09:39] andygotz commented on #52
Sorry my mistake - I meant 16 June 2020 ! I have corrected it.

[2020-04-22 06:37] JBodera commented on #52
Doodle status as of 22/04 for the rehearsal:

![image](https://user-images.githubusercontent.com/42926461/79952856-5596a000-847b-11ea-9505-db7301781729.png)

[2020-05-05 17:39] JBodera commented on #46
On 05/05/2020 Jordi and Sophie met through VC.
The main points discussed were:

**1. Communication** : PaNOSC is named at the same level as ExPaNDS in a video/infographic that will be available online soon. PaNOSC will be shown as a "related project" in a new section within the ExPaNDS website.

**2. 5b projects common position** : Sophie reported that ExPaNDS is participating in an EOSC position

[2020-06-01 19:16] JBodera commented on #52
Draft WP4 presentation for rehearsal meeting: [WP4-intro-fangohr.pptx](https://github.com/panosc-eu/panosc/files/4712783/WP4-intro-fangohr.pptx)

Draft WP1 presentation
[PaNOSC_WP1_ReviewMeeting.pptx](https://github.com/panosc-eu/panosc/files/4721833/PaNOSC_WP1_ReviewMeeting.pptx)

[2020-06-03 06:13] NicolettaCarboni commented on #52
[Draft WP9 presentation](https://github.com/panosc-eu/panosc/blob/master/Work%20Packages/WP9%20Outreach%20and%20communication/Presentations/M18%20Review%20Meeting/WP9-PaNOSC_NCarboni_2020ReviewMeeting.pdf)

[2020-06-04 14:43] CFGrote commented on #52
[Daft WP5 presentation](https://github.com/panosc-eu/panosc/raw/master/Work%20Packages/WP5%20Virtual%20Neutron%20and%20X-ray%20Laboratory/Documents/Presentations/WP5_18MReview.odp)

[2020-06-05 10:27] #22 closed, assigned to andygotz

[2020-07-20 12:06] servansod commented on #53
Summary of the following meetings:

# 6th call (23.04.2020)
Here are the few notes from our earlier meeting, please comment whenever needed:

- Florian and Renata explained the assumptions behind the tentative budget, with which all agreed so far. The remaining costs to include are rooms and lounge to be charged by ELI beamlines (not much, if any) + investments for owls for the WP meetings to be a

[2020-08-17 07:52] servansod commented on #53
# 11th call (13.07.2020)

## Indico pages

- Florian asked for help with the text of the second paragraph (The Photon and Neutron user communities are diverse and wide-ranging in their requirements. However, both require mapping of experimental data to…) on the Welcome page of European Photon and Neutron Symposium. The text should be focused on the goal of the symposium and on the collaboration of

[2020-08-21 14:12] servansod commented on #53
# 12th call (21.08.2020)
## The new structure of the annual meeting
Given the first answers to the survey on travel preferences (60% saying they wouldn't travel even if it is formally allowed out of 26 responses) and the current situation, it has been agreed that the event will be organized as an __online event only__, symposium and internal annual meeting alike.

Considering this, the 2nd day whi

[2020-09-03 08:04] servansod commented on #46
On 01/09/2020 Jordi and Sophie met through VC.
The main points discussed were:

**1. Portal architecture workshop:** only 4 speakers confirmed (incl. 1 for PaNOSC), the target is to have one speaker per facility confirmed before the 14/09/2020 so the agenda can be set. Jordi to remind PaNOSC at next PMC.

**2. ExPaNDS extension:** Sophie quickly presented the shift in deliverables and milestones.

[2020-09-04 06:53] #52 closed, assigned to andygotz

[2020-09-04 06:54] JBodera commented on #52
As of 04/09/2020 we are still awaiting feedback, however the meeting went well

[2020-09-04 06:59] JBodera opened #59 "PaNOSC DP Framework & ExPaNDS DP"
This is an issue to remember that given the different nature of both documents it would be very positive if a common output on Data Policy would be produced.

Andy Gotz & Brian Mathews are good candidates to take this task on.

If that's possible, then the first question would be: what is the deadline for having this ?

[2020-09-04 07:02] JBodera opened #60 "Common SRIA statement from PaNOSC & ExPaNDS"
Following the latest EOSC SRIA document : https://www.eoscsecretariat.eu/sites/default/files/open_consultation_booklet_sria-eosc_20-july-2020.pdf

Patrick Fuhrmann & Rudolf Dimper are working on a common statement from both projects. The target date to complete this is 15th September.

[2020-09-08 13:31] servansod commented on #53
# 31.08.2020 call

With Andy, Patrick, Renata and Sophie we rapidly discussed and finally decided to **join the 2 Indico pages** to make things easier (for everyone except Renata!).

The 1st day's sessions will get a 'PUBLIC SESSION' label and the 2nd and 3rd days sessions will get an 'INTERNAL SESSION' label. The registration page will have 2 options: first day only or all three days.

As soon as

[2020-09-23 09:25] servansod commented on #53
# 21.09.2020 call
## Connection details/live streaming
- It has been agreed that the connection details will be sent only to registered participants.
- Broadcasting the meeting in Youtube will only be possible once the Zoom meeting is launched. The live streaming page URL can be put in the Indico page or our websites or twitter accounts, all of which we can promote in advance.
- A common Youtube c

[2020-09-23 13:10] JBodera commented on #60
Rudolf got this statement submitted as of 23/09 (PaNOSC website also published it).
Rudolf also worked with the clusters in order to have a different statement submitted on the same topic (also done).

ISSUE Closed

[2020-09-23 13:10] #60 closed, assigned to RDimper

[2020-09-29 15:08] servansod commented on #53
# 29.09.2020 call
## Dissemination - checked
- XFEL user office, LaseLab, ESFRI, Wayforlight, CalipsoPlus: Florian – DONE
- LENS, PaNOSC partners + twitter + webpage: Nicoletta – DONE
- Light sources communicators, User office Diamond, ExPaNDS partners + twitter + webpage: Kat - DONE
- EOSCsecretariat: Sophie – DONE
- Event will be also communicated in the LightSources newsletter that will be publ

[2020-10-08 13:56] JBodera opened #61 "Upload feedback to review report"
Hi,
So just to ensure that we do not forget, we need to respond to the feedback from the review report. Looking at the review report I have identified some topics to address in the feedback:

- **Actions to be done**  in the short/medium term : new issues will be created for them:
#62 , #63 , #64 , #65 , #66 , #67 , #68 , #69
- **1.3 General Comments :** _In general terms, the alignment and integr

[2020-10-08 14:05] JBodera opened #62 "Review Report: Engage the community"
In the section 1.4, the review report reads:
_ It does not make much sense to make recommendations for a past time, however, some lessons learned could be applied or taking into account, for example, searching for new mechanisms to engage the community (the so-called “users”) in the FAIRification of data and the re-use and citation of Photon and neutron datasets. Better user involvement, through o

[2020-10-08 14:11] JBodera opened #63 "Review Report: joint KPIs with ExPaNDS"
The Review Report reads in page 2 (point 1.5):
_A general recommendation for the future work might be something that it is already mentioned in the D1.5 that could benefit both PaNOSC and ExPaNDS: define joint KPIs and identify the resources from each project to be committed to achieve them_

Work on KPIs should advance :
* Publish PaNOSC KPIs in the website
* Update KPIs by WP leaders & partner r

[2020-10-08 14:13] JBodera opened #64 "Review Report: Dissemination plan review"
The Review Report reads in section 1.5:
_- Review the Dissemination plan (D9.1). For a long project (48 months) like PaNOSC is necessary that the dissemination plan is an “open document” since the scenario of communication opportunities might change over time (ex. all the onsite activities have been translated to WebRTC channels like Zoom, where the strategy should be redefined; social networks, l

[2020-10-08 14:16] JBodera opened #65 "Review Report: Open Access publications"
The Review Report in the page 2 (section 1.5) reads:
_- Carefully review the Open Access/Open Data Policy within the project and guarantee that all the scientific publications about the project have immediate publically available papers and Justify venues for publication. Regarding that, the project will last until 2022, consider to publish in the Open Research Europe platform that will be availab

[2020-10-08 14:17] JBodera opened #66 "Review Report : DOI links"
The Review report in page 3 (section 1.5) reads:
_- Guarantee the persistent identification of all the public deliverables and outcomes of the project (for example, the DOI of the Data Policy Framework (https://doi.org/10.5281/zenodo.382604) does not work_

Also, in page 6 (section 4.4):
_• PaNOSC hast not published (at least yet) any scientific publication. However, in the Project Continuous Repo

[2020-10-08 14:20] JBodera opened #67 "Review Report : EOSC Stakeholders communications"
Review Report in page 3 (section 1.5) reads:
_- Keep, and even foster, the relationship with ALL (apart of ExPaNDS) EC funded project in the EOSC ecosystem. As said in the DoW, liaison and collaborate with other projects, is crucial. For example in order to re-use and/or complement generic training materials on FAIR principles, EOSC interoperability, etc. (WP9- CERIC agreed to explore which relate

[2020-10-08 14:22] JBodera opened #68 "Review Report : WP1's Data Management Plan"
The Review Report in page 3 (section 1.3) reads:
_- It is expected that the Data Management Plan (D1.2) will be updated in the course of the project. For deliverables that will be updated, the PO will need to be contacted to re-open the deliverable for revision._

Please note this is not relate to the DMPs that WP2 will do. This is about the DMP for PaNOSC.

Suggested actions:
* Jordi to work on u

[2020-10-08 14:28] JBodera opened #69 "Review Report : Risk Management"
The review report in page 3 (section 1.3) reads:
_- The table of critical implementation risks should be updated (cf. section 2.3)._

Also in page 4 (section 2.3):
_New risks are identified (all the COVID-related issues) although not stated in the “unforeseen risks” section. Some of the envisaged risks at DoA (proposal level) are not relevant anymore but are addressed correctly._

I think that we

[2020-10-08 14:36] NicolettaCarboni commented on #67
The following may be added:
- Active participation in EOSC Secretariat's interest group "EOSC Cluster Collaboration" meetings, and related joint actions;
- Periodical meetings among coordinators of the cluster projects (already in place) and transfer of the relevant inputs to the leaders of WP comms/dissemination in the various projects, to ensure appropriate communications/dissemination of the se

[2020-10-08 14:38] NicolettaCarboni commented on #66
This is the correct link: https://doi.org/10.5281/zenodo.3862701
All the references to the document have been checked in the PaNOSC website and are correct.

[2020-10-08 14:40] NicolettaCarboni commented on #64
Yes, once a year at the end of the year is the best solution

[2020-10-16 15:14] NicolettaCarboni commented on #64
PaNOSC communications and dissemination plan has been updated and is available in the CERIC drive only, since the deliverable (and its updates) have been declared as confidential in the GA. The file is now in excel format, to allow easier modification, and includes 5 sheets with all the tables in D9.1:
- PaNOSC external communication and dissemination plan;
- GANTT chart
- Communication tools
- Pl

[2020-10-21 16:06] NicolettaCarboni commented on #62
I would slightly rephrase your sentences as follows (and add few more):
- Engage with users at PaNOSC PaN facilities to identify success stories in the adoption of FAIR data practices, and publish related use cases;
- Organise user-centric workshop / meetings (WP8) and attract participants from the PaN community (WP9);
- Target user meetings at PaN facilities more widely, via presentations / demos

[2020-10-22 09:59] JBodera commented on #66
In the PMC of 21/10/2020 it was clarified that the DOI was misspelled in the eu portal and that it is now sorted. ISSUE CLOSED.

[2020-10-22 09:59] #66 closed, assigned to nobody

[2020-10-22 10:03] JBodera commented on #41
I will close this issue as we have a new one for joint KPIs with ExPaNDS #63

[2020-10-22 10:04] JBodera commented on #41
I will close this issue as we have a new one for joint KPIs with ExPaNDS #63

[2020-10-22 10:04] #41 closed, assigned to nobody

[2020-10-22 10:05] JBodera commented on #25
Following review report this is duplicated with issue #69

[2020-10-22 10:05] #25 closed, assigned to JBodera

[2020-10-23 12:22] JBodera commented on #63
For reference, PaNOSC KPIs are on:
 https://docs.google.com/spreadsheets/d/1iivsvBrix4v6lmC2U3sOC6YEXFeY0JzXHTM9QQQZwiY/edit#gid=2060225314

and ExPaNDS KPIs are on: https://tinyurl.com/ExPaNDS-KPIs
(this requires SharePoint access, so contact Jordi for a copy of the KPIs or Sophie / Kat (ExPaNDS) to gain access.

[2020-11-03 07:32] JBodera commented on #61
feedback uploaded

[2020-11-03 07:32] #61 closed, assigned to andygotz

[2020-12-02 08:19] JBodera commented on #63
1st and 2nd December 2020, Sophie Servan (ExPaNDS) and Jordi contacted WP leaders to agree and publish common KPIs.

[2021-01-06 14:34] JBodera commented on #53
The annual meeting for 2020 was successfully completed and therefore this issue is no longer required.
CLOSED

[2021-01-06 14:34] #53 closed, assigned to floriangliksohn

[2021-01-06 15:01] JBodera opened #70 "Service Provider for EOSC-registered services"
PaNOSC will start to register services in the EOSC very soon and as a part of the process a Service Provider must be assigned.

It is not clear what is the best strategy for this. Ideally PaNOSC would have a consistent approach.
Options are:
1. The RI that is providing the service
2. PaNOSC and/or ExPaNDS
3. LENS and/or LEAPS
4. A new PaN Community body

As of today it is not clear what are the re

[2021-01-07 11:48] NicolettaCarboni commented on #70
FYI, these upcoming 2 events by EOSC Enhance may be interesting to have a better understanding of the EOSC portal features and functionalities for users and providers: https://www.eosc-portal.eu/events/eosc-enhance-webinar-eosc-portal-new-release-new-user-functionalities-and-tutorial
- 14 January, 11:00 CET - New User Functionalities and Tutorial
- 21 January, 11:00 CET - Tutorial for existing pro

[2021-01-14 11:03] JBodera commented on #68
A new version of the DMP is now available on https://docs.google.com/document/d/1Mbu8J0zzUz-OvJNeaCzzpArFnjMyprzf/edit

This includes tracked changes / suggestions by Jordi.

[2021-01-29 12:44] thomasholmrod opened #71 "Upgrade pan-learning.org to Python 3"

[2021-01-29 12:45] thomasholmrod opened #72 "Setup doodle for design workshop"
We will organize a design workshop for pan-learning.org between the two parts of the TtT workshop so that we get started on improving the design of the e-learning platform

- [ ] setup doodle
- [ ] invite usual WP8 participants to doodle
- [ ] settle on date

[2021-01-29 12:53] thomasholmrod opened #73 "Organize risk-analysis workshop"

[2021-01-29 13:02] thomasholmrod opened #74 "Get infrastructure ready for TtT workshop"

[2021-02-08 13:58] JBodera commented on #64
D9.1 has been resubmitted

[2021-02-08 13:58] #64 closed, assigned to nobody

[2021-02-08 13:59] JBodera commented on #68
D1.2 has been resubmitted

[2021-02-08 13:59] #68 closed, assigned to nobody

[2021-02-09 15:37] JBodera commented on #46
https://github.com/ExPaNDS-eu/ExPaNDS/wiki/Mapping-ExPaNDS-and-PaNOSC-activites

[2021-02-11 07:48] JBodera commented on #65
The article on https://www.tandfonline.com/doi/full/10.1080/08940886.2019.1608119 now mentions the funding.

It is well understood that all publications must be open and include a reference to the EU grant agreement.

[2021-02-11 07:48] #65 closed, assigned to nobody

[2021-02-12 13:52] servansod commented on #46
I edited the page and corrected the typo in the title so the new page is reachable here:
https://github.com/ExPaNDS-eu/ExPaNDS/wiki/Mapping-ExPaNDS-and-PaNOSC-activities

@JBodera I'll let you have another look and then we can talk to WP leaders to complete/review ok?

[2021-03-02 15:55] JBodera commented on #46
Meeting 02/03/2021: Jordi & Sophie

1st: KPIs and how well they represent the status of PaNOSC was discussed. Given that deliverables that will provide users are not ready yet, KPIs at this moment do not provide the best view of the project

2nd: Common annual meeting: Full agreement to do again a common event with an ExPaNDS facility being the main organiser (face to face event it is unlikely tho

[2021-07-06 16:05] servansod commented on #46
Meeting 06/07/2021: Jordi & Sophie

- addition of a "ExPaNDS news" standing item in the **PMC** agenda (2-3 min)
- update of PaNOSC's **risk registry** with WP8 related risks
- upcoming PaNOSC EB in Sept/Oct notably with **sustainability** as a topic
- upcoming PaNOSC **WP6 review** during extra PMC - Patrick and/or Sophie to attend for ExPaNDS
- ExPaNDS received its **mid-term review report**, wi

[2022-03-30 11:40] JBodera opened #79 "Review Report 2: KPI targets"
Andy considers this a **minor recommendation**, that is listed in many places in the report, in particular as **Recommendation 2** in the _Recommendations concerning the period covered by the report_

Please note that the recommendation talks about Updated KPI Framework and Risk Registry, therefore it has been split in two issues in GitHub (#81  and this one).

The Feedback following the 2nd Perio

[2022-03-30 11:42] JBodera opened #80 "Review Report 2: Effort project plan"
Andy considers this a **minor recommendation**, that is listed in many places in the report, in particular as **Recommendation 1** in the _Recommendations concerning the period covered by the report_

The Feedback following the 2nd Periodic Report states:

_Recommendation 1 (Staff Effort and Resources Plan): The staff effort allocated to the implementation of the project
deviates from the staff ef

[2022-03-30 11:50] JBodera opened #81 "Review Report 2: Update Risk Register"
Andy considers this a **minor recommendation**, that is listed in many places in the report, in particular as **Recommendation 2** in the _Recommendations concerning the period covered by the report_.

Please note that the recommendation talks about Updated KPI Framework and Risk Registry, therefore it has been split in two issues in GitHub (#79  and this one).

The Feedback following the 2nd Peri

[2022-03-30 11:53] JBodera opened #82 "Review Report 2: Detailed sustainability plan"
Andy considers this a **Major Recommendation**, that is listed in many places, chief among them the **Recommendation 1** in _Recommendations concerning future work_.

The Feedback following the 2nd Periodic Report states:

_Recommendation 1 (Exploitation & Sustainability): Despite the reported exploitation progress, the partners have not
still decided about the business model that will drive the s

[2022-03-30 11:56] JBodera opened #83 "Review Report 2: Training Courses improvements"
This is listed as **Recommendation 2** in the _Recommendations concerning future work_ and could be done together with #90

The Feedback following the 2nd Periodic Report states:

_Recommendation 2 (Training Courses and Activities): The project must consider the development of a complete end-toend
course for data FAIRness for PaN RIs and scientific communities. A complete course is likely to have

[2022-03-30 11:59] JBodera opened #84 "Review Report 2: Total Cost of Ownership calculation"
Andy considers this a **Major Recommendation**, that is listed in many places, chief among them **Recommendation 3** in _Recommendations concerning future work_.

The Feedback following the 2nd Periodic Report states:

_Recommendation 3 (Cost Calculation Formulas and Blueprints): Deliverable D7.2 provides insights on the actual costs
incurred by the RIs towards establishing, managing, and operatin

[2022-04-04 06:02] JBodera opened #85 "Review Report 2: Data Management Plans"
Andy considers this a **minor recommendation**, that is listed as **Recommendation 4** in the _Recommendations concerning future work_

The Feedback following the 2nd Periodic Report states:

_The DMP template is very well structured and
provides value to RIs through helping them to specify their FAIR data policies. It is recommended that the partners
provide 1-2 examples of completed forms (templ

[2022-04-04 06:03] JBodera opened #86 "Review Report 2: Enhanced Federated Search Services"
Andy considers this a **Major Recommendation**, that is listed as the **Recommendation 8** in the _Recommendations concerning future work_.

The Feedback following the 2nd Periodic Report states:

_Future work in WP3 includes enhancements
to the federated search service in order to support dynamic access to the data sources (e.g., access to up-to-date data one
they become available). The consortiu

[2022-04-04 06:04] JBodera opened #87 "Review Report 2: Stakeholder Engagement following and stats"
Andy considers this a **minor recommendation**, that is listed in many places in the report, in particular as part of **Recommendation 6** in the Recommendations concerning future work_

The Feedback following the 2nd Periodic Report states:

_A rich set of dissemination activities have been carried out and more are planned. It is recommended that the project tracks and quantifies the stakeholders

[2022-04-04 06:06] JBodera opened #88 "Review Report 2: Scientific publications"
Andy considers this a **Major Recommendation**, that is listed in many places, chief among them in the **Recommendation 6** of the _Recommendations concerning future work_.

The Feedback following the 2nd Periodic Report states:

_Moreover, the consortium should consider submitting and/or publishing scientific publications linked to the project’s FAIR data services. Such publications will dissemin

[2022-04-04 06:10] JBodera opened #89 "Review Report 2: Policy Framework adopted by all RIs"
Andy considers this a **Major Recommendation**, that is listed _General Comments_, objective 2.

The Feedback following the 2nd Periodic Report states:

_The specification and production of a FAIR data policy framework following the RDA (Research Data Alliance) guidelines for data policies specification. This policy has been provided to the RIs of the consortium for adoption and use. Relevant admi

[2022-04-04 06:12] JBodera opened #90 "Review Report 2: integrated course on FAIR data management"
Andy considers this a **Major Recommendation**, that is listed in the _Objectives and workplan_, WP8 section.

The Feedback following the 2nd Periodic Report states:

_It is also advised that the consortium does not limit its effort in the development of individual seminars or presentations.
Rather a short, yet integrated course on FAIR data management for the PaN community should be developed. Mo

[2022-04-04 06:13] JBodera opened #91 "Review Report 2: Innovation Management"
Andy considers this a **minor recommendation**, that is listed in the _Implementation_ section, point 2.

The Feedback following the 2nd Periodic Report states:

_Innovation management activities are still in their infancy, as exploitation activities have not reached adequate depth. Nevertheless, this is in-line with the project’s workplan. Exploitation and innovation management activities must be

[2022-04-04 06:14] JBodera commented on #69
Closed as we are looking now at feedback from review (issue #81 )

[2022-04-04 06:14] #69 closed, assigned to nobody

[2022-04-04 06:14] JBodera commented on #67
No longer an issue after M36 review

[2022-04-04 06:14] #67 closed, assigned to nobody

[2022-04-04 06:15] JBodera commented on #63
Replaced by new feedback from M36 review ( see issue #79 )

[2022-04-04 06:15] #63 closed, assigned to nobody

[2022-04-04 06:16] JBodera commented on #62
No longer a major issue after M36 review

[2022-04-04 06:16] #62 closed, assigned to andygotz

[2022-04-04 06:16] JBodera commented on #43
I think that this can now be closed as we are in the last year of project execution

[2022-04-04 06:16] #43 closed, assigned to nobody

[2022-04-04 06:17] JBodera commented on #70
@perrin1024 , is this still an issue? Can it be closed

[2022-04-04 06:18] JBodera commented on #71
@thomasholmrod , can this issue be closed? or is still relevant?

[2022-04-04 06:18] JBodera commented on #72
@thomasholmrod can this issue be closed? or is still relevant?

[2022-04-04 06:19] JBodera commented on #73
@thomasholmrod  is this issue still relevant? I am pretty sure this is done

[2022-04-04 06:19] JBodera commented on #74
@thomasholmrod can this issue be closed? Please have a look at the issues that you have open in GitHub and close down the ones no longer relevant (or inactive for over one year).

[2022-04-25 10:27] JBodera commented on #84
The following query was posed to our PO:

[code]

and we have obtained the following answer:

[code]

[2022-04-27 12:45] zjttoefs commented on #86
Datasets do appear in the federated search dynamically as they become available. The federated search only gives access to data in public domain. That means the process through which data become available is exiting an embargo period or through explicit publication. I am not sure the reviewer had that in mind.

That isn't part of an existing use case, I am aware of.

[2022-07-27 09:31] arm61 commented on #90
There is a data management course aspect to the summer school being taught by @teodorivanoaica. If this is created using the e-learning platform, I believe that this would fulfil this recommendation.

[2022-07-27 09:31] arm61 commented on #83
I believe that this is being achieved with the summer school, which will make use to the e-learning portal so the material will be available to everyone after the school.

[2022-08-29 07:16] teodorivanoaica commented on #90
Hi Jordi,

I am working on that, I will do my best to have everything as online
training material.

Doru.

*Teodor Iv**ă**noaica*

Senior Coordinator for Scientific Computation

and Data Management

***@***.*** ***@***.***>
(+420) 607 292 130

Extreme Light Infrastructure ERIC

Czech Republic

*www.eli-laser.eu <http://www.eli-laser.eu/>*

ᐧ

ᐧ

On Wed, Jul 27, 2022 at 11:31 AM Andrew McCluskey **

[2022-09-28 09:52] #86 closed, assigned to nobody